<% include ../partials/header.ejs %>
<div class="columns">
    <div class="column">
        <h1 class="title">Titre :</h1>
        <h2>Date de création :</h2>
        <p>Résumé</p>
        <p>Contenu</p>
    </div>
</div>
<% include ../partials/footer.ejs %>